{% extends '../base.html' %}
{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center vh-100 align-items-center">
    <div class="col-lg-4 col-md-6 col-sm-8 col-xs-10">
        <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group mb-3">
            {{ field.label_tag }}<br>
            {{ field }}
            {% if field.help_text %}
                <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
            </div>
        {% endfor %}
        <div class="form-group mb-3">
            <button type="submit" class="btn btn-primary">Sign up</button>
        </div>
        <div class="form-group mb-3">
            <p>Already have an account? <a href="{% url 'login' %}">Login</a> here</p>
        </div>
        </form>
    </div>
    </div>
</div>
{% endblock %}