{% load unicorn %}
<div class="col-xl-6 col-lg-6 aos-init aos-animate" data-aos="flip-up" data-aos-delay="400" data-aos-duration="500">
    <div class="dish">
        <img alt="food-dish" src="/static/assets/img/logos-2.jpg" >
        <div class="dish-foods">
            <h3>{{ item.produce }}</h3>
            <div class="dish-icon">
                <div class="cafa-button">
                    {{ item.img }}
                    <a href="#">Breakfast</a>
                    <a href="#">Brunch</a>
                </div>
                <div class="dish-icon end">

                    <i class="info fa-solid fa-circle-info" aria-hidden="true"></i>
                    <div class="star">
                        <a href="#"><i class="fa-solid fa-heart" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="price">
                <h3>{{ item.price }}/{{ item.measurement  }}</h3>
                <div class="qty-input">
                    <button class="qty-count qty-count--minus" data-action="minus" type="button">-</button>
                    <input class="product-qty" type="number" name="product-qty" min="0" value="1">
                    <button class="qty-count qty-count--add" data-action="add" type="button">+</button>
                </div>
            </div>
            <button class="button-price" unicorn:click="add_item">Add to Cart<i class="fa-solid fa-bag-shopping"
                    aria-hidden="true"></i></button>
        </div>
        <div class="dish-info" style="display: none;">
            <i class="info2 fa-solid fa-xmark" aria-hidden="true"></i>
            <h5>
                {{ item.produce }}
            </h5>
            <div class="cafa-button">
                <a href="#">Breakfast</a>
                <a href="#">Brunch</a>
            </div>
            <p>{{ item.desc }}</p>
            <ul class="menu-dish">
                <li>Nulla porttitor massa id;</li>
                <li>Aliquam vestibulum morbi;</li>
                <li>Blandit donec adipiscing;</li>
            </ul>
        </div>
    </div>
</div>