{% load unicorn %}
<form class="checkout-form" method="put">
    {% csrf_token %}
    <h4>Merchant information</h4>{{ user.user.email }}
    <div class="row">
        <div class="col-lg-6">
            <input type="text" placeholder="First Name" unicorn:model="user.user.first_name" />
        </div>
        <div class="col-lg-6">
            <input type="text" placeholder="Last Name" unicorn:model="user.user.last_name" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <input type="text" placeholder="E-mail" unicorn:model.defer="user.email">
        </div>
        <div class="col-lg-6">
            <input type="text" placeholder="Phone" unicorn:model.defer="user.phone">
        </div>
    </div>
    <h4 class="two">Delivery addresses</h4>
    <select class="nice-select Advice" style="display: none;" unicorn:model.defer="profile.state">
        {% for code, state in states.items %}
        <option value="code">{{ state }}</option>
        {% endfor %}
    </select>
    <div class="row">
        <div class="col-lg-6">
            <input type="text"  placeholder="Street" unicorn:model="profile.street">
        </div>
        <div class="col-lg-6">
            <input type="text"  placeholder="House number" unicorn:model.defer="profile.house_no">
        </div>
    </div>
    
    <button class="button-price" type="submit" unicorn:click="save()" >Pay</button>
</form>