<div class="blog-post-data-img">
    <p>
        {{ post.body }}
    </p>
    <a href="/posts/{{ post.id }}/">Read More<i class="fa-solid fa-arrow-right" aria-hidden="true"></i></a>
    <ul class="data">
        <li>
            <h6><i class="fa-solid fa-user" aria-hidden="true"></i>{{ post.user }}</h6>
        </li>
        <li>
            <h6><i class="fa-regular fa-calendar-days" aria-hidden="true"></i>01.Jan. 2022</h6>
        </li>
        <li>
            <h6><i class="fa-solid fa-eye" aria-hidden="true"></i>132</h6>
        </li>
    </ul>
</div>
